:root {
    --finance-font-xs: 0.75rem;
    --finance-font-sm: 0.875rem;
    --finance-font-md: 1rem;
    --finance-font-lg: 1.25rem;
    --finance-font-xl: 1.5rem;
    --finance-font-xxl: 2rem;

    --finance-weight-regular: 400;
    --finance-weight-medium: 500;
    --finance-weight-bold: 600;

    --finance-line-height: 1.5;
}